@model AjaxHelpers.Models.TodoItem

<li id="data_@Model.Id" class="list-group-item">

    @Ajax.ActionLink("Delete", "RemoveData", new { id = @Model.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_" + @Model.Id, InsertionMode = InsertionMode.ReplaceWith, LoadingElementId = "loading", LoadingElementDuration = 300 }, new { @class = "btn btn-danger btn-sm delete-btn" })

    @Model.Text
</li>
