<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AjaxHelpersMethod</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="container text-center">
                @Html.ActionLink("Ajax Helper Method", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </nav>

    <div class="container col-md-4">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ishak Alpfidan</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>