@{
    ViewBag.Title = "Home";
}
<div class="row">

    <div class="col-12 mt-4">
        @Ajax.ActionLink("Load All Data", "LoadData", null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "list", InsertionMode = InsertionMode.Replace, LoadingElementId = "loading", LoadingElementDuration = 300 }, new { @class = "btn btn-success" })
    </div>

    <div class="col-12 mt-4">
        <div class="alert alert-warning load-text" role="alert" id="loading">
            Loading data... Please wait...
        </div>

        <ul id="list" class="list-group">
        </ul>
    </div>
</div>
